# .dot .gitignore

# default ignore all while allowing recursing specific dirs
/*
/.config/*

# include
!/.pkgs/
!/.config/
!/.config/fastfetch/
!/.config/fish/
!/.config/hypr/
!/.config/hyprpanel/
!/.config/kitty/
!/.config/lazygit/
!/.config/nvim/
!/.config/starship/
!/.config/tofi/
!/.config/yazi/
!/.config/zellij/
