# .dot .gitignore

# default ignore all while allowing recursing specific dirs
/*
/.config/*
/.config/nvim/**/*.spl

# include
!/README.md
!/.git*
!/.pkgs/
!/.config/
!/.config/fastfetch/
!/.config/fish/
!/.config/hypr/
!/.config/hyprpanel/
!/.config/kitty/
!/.config/lazygit/
!/.config/nvim/
!/.config/nvim.lazy/
!/.config/starship/
!/.config/tofi/
!/.config/yazi/
!/.config/zellij/
!/.config/uwsm/
