[includeIf "gitdir:**/dev/work/**"]
  path = .gitconfig.work

[includeIf "gitdir:**/dev/rain/**"]
  path = .gitconfig.rain

[color]
  ui = true

[column]
  ui = auto

[tag]
  sort = version:refname

[alias]
  last = log -1 HEAD
  wip = "!git add -A && git commit -m 'WIP'"
  la = log --graph --all --decorate --oneline
  undo = reset --soft HEAD~1

[commit]
  template = ~/.gitmessage.txt
  verbose = true

[init]
	defaultBranch = main

[core]
  excludesfile = ~/.gitignore.global
  pager = delta
  editor = nvim
  fsmonitor = true
  untrackedCache = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  true-color = always

[diff]
  tool = nvimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[difftool]
  prompt = false

[difftool "nvimdiff"]
  layout = "LOCAL,REMOTE"

[merge]
  tool = nvimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[rerere]
  enabled = true
  autoupdate = true

[pull]
  rebase = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
	prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
