[user]
  name = rainrain
  email = 102855367+twicerain@users.noreply.github.com

[color]
  ui = true

[column]
  ui = auto

[tag]
  sort = version:refname

[alias]
  st = status -sb
  last = log -1 HEAD

  a = add
  cm = commit
  am = commit --amend
  wo = commit --amend --no-edit
  wip = "!git add -A && git commit -m 'WIP'"

  co = checkout
  cob = checkout -b
  br = branch
  cb = checkout -b

  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate
  la = log --graph --all --decorate --oneline

  df = diff
  dc = diff --cached

  undo = reset --soft HEAD~1

[commit]
  template = ~/.gitmessage.txt
  verbose = true

[init]
	defaultBranch = main

[core]
  pager = delta
  editor = nvim
  fsmonitor = true
  untrackedCache = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  true-color = always

[diff]
  tool = nvimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[difftool]
  prompt = false

[difftool "nvimdiff"]
  layout = "LOCAL,REMOTE"

[merge]
  tool = nvimdiff
  conflictstyle = zdiff3

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[rerere]
  enabled = true
  autoupdate = true

[pull]
  rebase = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
	prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
